*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#conteiner{
    display: flex;
    flex-direction: column;
}

#item-1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.itens{
    background-color: rgb(6, 114, 238);
    height: 13.5rem;
    border: solid;
}

.searchBar{
    width: 40rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    margin: 5px;
    padding-left: 1%;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

#searchArea{
    display: flex;  
    align-items: center;
    padding-bottom: 10px;    
}

#wheaterNow{
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    letter-spacing: -1px;
    font-kerning: none;
}

