*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#conteiner{
    display: flex;
    flex-direction: column;
}

#item-1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#item-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itens{
    background-color: rgb(6, 114, 238);
    height: 13.5rem;
    border: solid;
}

.searchBar{
    width: 40rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    margin: 5px;
    padding-left: 1%;
    outline: none;
}

#searchArea{
    display: flex;  
    align-items: center;    
}

