<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheater Forecast</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <div id="conteiner">
        <nav class="itens">
            <div id="searchArea">
                <input type="search" name="searchBar" id="searchBar" class="searchBar" placeholder="Previsão do tempo para...">
                <img width="35" height="35" src="..\static\images\icons8-search-50.png" alt="search--v1"/>
            </div>
            <br>
            <div id="Location"  class="font-title">Neste momento em Someplaceland.</div>
        </nav>
        <section class="itens" id="item-1">
            <div id="wheaterNow"></div>
            <div id="timeForecast">PREVISAO CURTO PRAZO</div>
        </section>
        <section class="itens" id="item-2">
            <div id="weekForecast">PREVISAO LONGO PRAZO</div>
        </section>
    </div>
    <script src="..\static\js\index.js"></script>
</body>
</html>