{% extends 'base.html'%}
    {% block title %}
        Wheater Forecast
    {% endblock %}
    {% block content %}
    <div id="menu"></div>
    <div id="conteiner">
        <nav class="itens">
            <div id="searchArea">
                <form action="/" method="post">
                    <input type="search" name="searchBar" id="searchBar" class="searchBar" placeholder="Previsão do tempo para...">
                </form>
                <img width="35" height="35" src="{{ url_for('static', filename='images/icons8-search-50.png')}}" alt="search--v1"/>
            </div>
            <br>
            <div id="Location"  class="font-title">{{ data.name }}</div>
        </nav>
        <section class="itens" id="item-1">
            <div id="wheaterNow">
                <div>
                    <div class="descri">
                        <p>{{ data.descricao }}</p>
                        <img src="https://openweathermap.org/img/wn/{{ data.icon }}@2x.png" alt="Icon" id="icon" onerror="this.style.display='none'">
                    </div>
                    <div class="temp">
                        <p class="values" id="temperatura">{{ data.temp }}</p>
                        {{ previa }}
                        <p class="indices">{{ data.feels_like }}</p>
                    </div>
                    <div class="wind">
                        <p class="values">{{ data.wind }}</p>
                        <p class="indices">{{ vento }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}
