<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheater Forecast</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <div id="conteiner">
        <nav class="itens">
            <input type="search" name="search" id="searchArea" class="searchBar" placeholder="Previsão do Tempo para...">
            <br>
            <div id="Location">TEMPO AQUI</div>
        </nav>
        <section class="itens" id="item-1">
            <div id="wheaterNow">TEMPO AGORA</div>
            <div id="timeForecast">PREVISAO CURTO PRAZO</div>
        </section>
        <section class="itens" id="item-2">
            <div id="weekForecast">PREVISAO LONGO PRAZO</div>
        </section>
    </div>
</body>
</html>