{% extends 'base.html'%}
  {% block title %}
      Perfil
  {% endblock %}
  {% block content %}
  <style>
    body {
      margin: 0;
      height: 100vh;
      display: flex;
      background-color: #004aad;
    }

    .container2 {
      background-color: #fffcfc;
      padding: 20px;
      border-radius: 10px;
      width: 30%; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 150px; 
      margin-right: 20px; 
      margin-top: 110px; 
      margin-bottom: 24px; 
      position: relative;
    }

    
    .customer-photo {
      width: 80px; 
      height: 80px; 
      border-radius: 50%; 
      margin-bottom: 10px;
    }

    
    .container {
      background-color: #fffcfc;
      padding: 30px;
      border-radius: 10px;
      width: 40%; 
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto; 
      margin-left: 1px; 
      margin-right: 10px;
      margin-top: 108px;
      margin-bottom: 1px;
      position: relative;
    }

    .button-container {
  text-align: center; 
  margin-top: 179px; 
  margin-bottom: 20px; 
  margin-left: 80px; 
  margin-right: 20px; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
    }

button {
  background-color: #004aad;
  color: #fffcfc;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 165%; 
}

    .button-text {
      display: inline-block;
      width: 100%; 
      text-align: center; 
      white-space: nowrap; 
      word-wrap: break-word; 
      font-size: 11pt;
    }


  
    #password-rule {
      margin-top: -20px;
    }

    h1 {
      color: white; 
      margin-left: 150px; 
      margin-top: 30px; 
      position: absolute; 
      top: 0; 
      font-family: 'Pathway Gothic One', sans-serif;
    }

    .profile-icon-container.custom-icon {
    width: 190px; 
    height: 190px; 
    border-radius: 50%; 
    overflow: hidden;
    margin-top: -250px; 
  }

  .profile-icon {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }

  .additional-icons {
      position: absolute;
      left: 20px;
      bottom: 150px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .additional-icons div {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }

    .additional-icons img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }

    .icon-text {
      color: #000000;
      font-size: 9pt;
      margin-top: -5px; 
      margin-left: 10px; 
      font-family: 'Open Sans', sans-serif; 
    }

    .profile-name {
      color: #000000;
      font-size: 12pt;
      margin-top: 10px;
      text-align: center;
      font-family: 'Open Sans', sans-serif; 
    }

    .input-field {
      width: 100%; 
      margin-bottom: 15px;
      padding: 8px;
      box-sizing: border-box;
    }

   
    .input-nome {
      margin-top: 0;
      margin-bottom: 15px;
      margin-left: 50;
      margin-right: 300px;
      width: 43%;
    }

    .input-sobrenome {
      margin-top: -112px;
      margin-bottom: 50px;
      margin-left: 250px;
      margin-right: 0;
      width: 41%;
      padding: 8px;
      position: absolute;      
    }

    .input-localidade {
      margin-top: 30px;
      margin-bottom: 15px;
      margin-left: 0px;
      margin-right: 300px;
      width: 43%;
    }

    .input-email {
      margin-top: 30px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 300px;
      width: 43%;
    }

    label {
      position: absolute;
      background-color: #fffcfc;
      padding: 0 5px;
      color: #333; 
    }

     
     .texto-nome {
      margin-top: 0px;
      margin-bottom: 215px;
      margin-left: 20px;
      margin-right: 500px;
      color: #000000;
      font-size: 10pt;
      position: absolute;
      font-family: 'Open Sans', sans-serif; 
    }

    .texto-sobrenome {
      margin-top: 0;
      margin-bottom: 215px;
      margin-left: 80px;
      margin-right: 0;
      color: #000000;
      font-size: 10pt;
      position: absolute;
      font-family: 'Open Sans', sans-serif; 
    }

    .texto-localidade {
      margin-top: 0;
      margin-bottom: 55px;
      margin-left: 20px;
      margin-right: 470px;
      color: #000000;
      font-size: 10pt;
      position: absolute;
      font-family: 'Open Sans', sans-serif; 
    }

    .texto-email {
      margin-top: 105px;
      margin-bottom: 0;
      margin-left: 200px;
      margin-right: 680px;
      color: #000000;
      font-size: 10pt;
      position: absolute;
      font-family: 'Open Sans', sans-serif; 
    }

    .texto-senha {
      margin-top: 105px;
      margin-bottom: 0;
      margin-left: 200px;
      margin-right: 140px;
      color: #000000;
      font-size: 10pt;
      position: absolute;
      font-family: 'Open Sans', sans-serif; 
    }

    .perfil-title {
  color: #000000;
  font-size: 25pt;
  margin-top: 40px;
  position: absolute;
  top: 0;
  margin-right: 400px;
  font-family: 'Open Sans', sans-serif;
}

.sub-title {
  color: #000000;
  font-size: 8pt;
  margin-top: 85px;
  margin-right: 140px;
  position: absolute;
  top: 0;
  margin-left: -150px;
  font-family: 'Open Sans', sans-serif; 
  white-space: nowrap; 
  word-wrap: break-word; 
}

  </style>
</head>
<body>

    <h1>JVV WEATHER</h1>
    <div id="menu"></div>
    <div class="container2">
        <div class="profile-icon-container custom-icon">
          <img src="{{ url_for('static', filename='images/perfil1.ico') }}" alt="Ícone de Perfil" class="profile-icon">
        </div>
        <div class="additional-icons">
          <div>
            <img src="{{ url_for('static', filename='images/local.ico') }}" alt="Ícone de Localização" class="icon">
            <span class="icon-text">Palhoça - SC, Brasil</span>
          </div>
          <div>
            <img src="{{ url_for('static', filename='images/gmail.ico') }}" alt="Ícone de Email" class="icon">
            <span class="icon-text">victor.rodrigues@aluno.fmpc.edu.br</span>
          </div>
        </div>
        <div class="profile-name">
          Victor da Silva Rodrigues
        </div>
      </div>
    
    

      <div class="container">
        <h1 class="sub-title">Visualize e edite suas informações pessoais abaixo.</h1>
        <p class="texto-nome">Nome</p>
        <input type="text" placeholder="Victor" class="input-field input-nome">
    
        <p class="texto-sobrenome">Sobrenome</p>
        <input type="text" placeholder="da Silva Rodrigues" class="input-field input-sobrenome">
    
        <p class="texto-localidade">Localidade</p>
        <input type="text" placeholder="Palhoça - SC, Brasil" class="input-field input-localidade">
    
        <p class="texto-email">Email</p>
        <input type="text" placeholder="victor.rodrigues@aluno.fmpc.edu.br" class="input-field input-email">

        <p class="texto-senha">Senha</p>

          <div class="button-container">
            <a href="/redefinir" class="left-align">
              <button type="button">
                <span class="button-text">REDEFINIR SENHA</span>
              </button>
            </a>
          </div>
      </div>     
  </div>
  {% endblock %}
